<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MariaLunarillos by Jordi Grau</title>
    <link rel="stylesheet" href="style.css">
    </head>
<body>
   <nav class="nav">
       <img class="items menu" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQA-X_7eR6ou6mli4nA8uk00AB-hdRZpmbZQWekKzdHvRCQDvhk&usqp=CAU">
       <img class="items login" src="https://p.kindpng.com/picc/s/33-332444_boy-with-chinese-hat-icono-persona-joven-hd.png">
       <img class="items search" src="https://cdn.icon-icons.com/icons2/5/PNG/256/Search_find_magnifier_248.png">
       <img class="items cart" src="https://image.flaticon.com/icons/svg/174/174215.svg">
       <div class="items buyed">0</div>
   </nav>
   <div class="logo">
       <img src="https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/logo-small.svg">
   </div>

</body>
</html>